[submodule "themes/simple-style"]
	path = themes/simple-style
	url = https://github.com/yanlinlin82/simple-style
[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn
[submodule "themes/hugo-theme-pure"]
	path = themes/hugo-theme-pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure
[submodule "themes/hugo-theme-hulga"]
	path = themes/hugo-theme-hulga
	url = https://github.com/wlh320/hugo-theme-hulga
[submodule "themes/inkblotty"]
	path = themes/inkblotty
	url = https://github.com/tosi29/inkblotty
[submodule "themes/Mainroad"]
	path = themes/Mainroad
	url = https://github.com/Vimux/Mainroad
